body {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3 {
    color: var(--text-color-darker);
    font-weight: bold;
    margin-left: var(--left-text-margin-xl);
}

h1 {
    font-size: var(--primary-font-regular-xxl);
}

h2 {
    color: var(--text-color-darkest);
    font-size: var(--primary-font-regular-xl);
}

h3 {
    font-size: var(--primary-font-regular-l);
    margin-top: var(--left-text-margin-l);
    margin-bottom: var(--margin-bottom-spacing-m);
}

.chapter-number {
    color: var(--text-color-darker);
    margin-bottom: var(--margin-bottom-spacing-s);
}

blockquote {
    color: var(--quote-color);
    font-weight: bold;
    font-style: italic;
    font-size: var(--primary-font-regular-s);
    margin-left: var(--left-text-margin-xl);
}

p {
    color: var(--text-color);
    font-size: var(--primary-font-regular-s);
    margin-left: var(--left-text-margin-xl);
}

.chapter-intro {
    color: var(--text-color-darker);

}

figcaption {
    color: var(--text-color-neutral);
    font-size: var(--primary-font-regular-xs);
    margin-left: var(--left-text-margin-xl);
    font-weight: bold;
}

cite {
    color: var(--text-color-neutral);
    font-size: var(--primary-font-regular-xs);
    font-style: normal;
    font-weight: bold;
}

hr {
    background-color: var(--text-color-darker);
    height: 4px;
    width: 300px;
    margin-left: var(--left-text-margin-xl);
    margin-top: var(--margin-top-spacing-m);
    margin-bottom: var(--margin-bottom-spacing-xl);
}

#user-experience-block {
    text-align: center;
    background-color: var(--background-color-lightest);
}

table {
    color: var(--text-color);
    font-size: var(--primary-font-regular-xs);
    margin-left: var(--left-text-margin-xl);
    text-align: left;
    border-spacing: var(--table-border-spacing);
}

th {
    color: var(--text-color-darker);
    font-size: var(--primary-font-regular-m);
    border-radius: 0.25em;
}

form,
legend {
    color: var(--text-color-darker);
    margin-left: var(--left-text-margin-xl);
    margin-bottom: var(--margin-bottom-spacing-xl);
    font-size: var(--primary-font-regular-s);
    font-weight: bold;
}

fieldset {
    margin-top: var(--margin-top-spacing-xl);
    margin-left: var(--left-text-margin-xl);
    margin-bottom: var(--margin-bottom-spacing-xl);
    height: 500px;
    width: 500px;
}

legend {
    font-size: var(--primary-font-regular-m);
    margin-bottom: var(--margin-bottom-spacing-l);
}



#name,
#email,
#comment {
    width: var(--label-textfield-width);
}

#comment {
    height: 70px;
}

